.carousel__pages {
  display: flex;
  gap: 2.6rem;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, -18%);
}

.carousel__page {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #fff;
  border-radius: 50%;

  &--active {
    background-color: #fff;
  }
}
