.price {
  font-size: 1.4rem;

  &__textbox {
    @include sidebar-textbox;
  }

  &__heading {
    @include sidebar-heading;
  }

  &__clear {
    @include sidebar-clear;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 1.6rem;
  }

  &__list:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  &__range {
    display: flex;
    gap: 1.6rem;
  }

  &__range-inputbox {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }

  &__checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    margin: 0;
    font: inherit;
    // color: currentColor;
    color: $color-grey-dark--2;
    width: 2.6rem;
    height: 2.6rem;
    border: 0.1rem solid $color-grey-dark--2;
    transform: translateY(-0.1rem);
    display: grid;
    place-content: center;
  }

  &__checkbox-input::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    // background: url(../img/check.svg) 0 0 no-repeat;
    // background-size: 1.5rem;
    // display: inline-block;

    // hides the checked state
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    box-shadow: inset 1rem 1rem $color-primary;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  &__range-input {
    width: 6.8rem;
    height: 2.8rem;
    padding: 0.2rem;
    color: $color-grey-dark;
    display: inline-block;
    border: 0.1rem solid $color-grey-dark--2;
    transition: box-shadow 200ms;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 -0.6rem rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
      color: $color-grey-dark--2;
    }
  }
}

.price__checkbox-input:checked::before {
  transform: scale(1);
}

.product__price--r1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
