.heading-tertiary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  line-height: $line-height-md;
  letter-spacing: 3px;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 2.4;
}
