.text-center {
  text-align: center !important;
}

.margin-top-sm {
  margin-top: 2rem !important;
}
.margin-top-md {
  margin-top: 4rem !important;
}

.margin-top-lg {
  margin-top: 8rem !important;
}

.margin-top-xl {
  margin-top: 16rem !important;
}

.margin-top-2xl {
  margin-top: 32rem !important;
}

.margin-bottom-sm {
  margin-bottom: 3rem !important;
}
