.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}

.margin-top-sm {
  margin-top: 2rem !important;
}
.margin-top-md {
  margin-top: 4rem !important;
}

.margin-top-lg {
  margin-top: 8rem !important;
}

.margin-top-xl {
  margin-top: 16rem !important;
}

.margin-top-2xl {
  margin-top: 24rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3rem !important;
}

.margin-bottom-lg {
  margin-bottom: 4rem !important;
}

.align-items-start {
  align-items: start !important;
}

.align-item-start {
  align-self: start !important ;
}
