.product__size-heading span {
  font-weight: 300;
  color: $color-grey-dark;
}

.shoe {
  &__sizes {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 3rem;
    row-gap: 1.6rem;
  }

  &__size {
    @extend %product__size;
    padding: 0.6rem 0.4rem;
  }
}
