.footer {
  background-color: $color-grey;
  padding: 2.4rem;
  font-size: 1.4rem;

  &__nav-link:link,
  &__nav-link:visited,
  &__social-link:link,
  &__social-link:visited {
    color: currentColor;
    transition: all 0.2s;
  }

  &__nav-link:hover,
  &__nav-link:active,
  &__social-link:hover,
  &__social-link:active {
    color: $color-primary;
  }

  &__grid {
    grid-template-columns:
      min-content repeat(2, minmax(min-content, max-content))
      minmax(min-content, 1fr) minmax(min-content, max-content);
  }

  &__nav-list,
  &__social-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  &__contacts {
    font-style: normal;
    color: $color-grey-dark--2;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    & > a {
      display: block;
      color: currentColor;
    }
  }

  &__cta-text {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  &__cta-form {
    display: flex;
    align-items: center;
  }

  &__cta-input {
    width: 80%;
    color: inherit;
    padding: 0.9rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 0.1rem solid $color-primary;
    backface-visibility: hidden;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.15rem $color-primary;
    }
  }
  &__cta-button {
    padding: 1rem 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transition: all 0.2s;
  }
}
