.footer {
  background-color: $color-grey;
  padding: 2.4rem;
  font-size: 1.4rem;

  &__nav-link,
  &__social-link {
    text-decoration: none;
    color: currentColor;
    transition: all 0.5s;
  }

  &__nav-link:hover,
  &__social-link:active {
    color: $color-grey-light;
  }

  &__grid {
    grid-template-columns:
      min-content repeat(2, minmax(min-content, max-content))
      minmax(min-content, 1fr) minmax(min-content, max-content);
  }

  &__nav-list,
  &__social-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  &__contacts {
    font-style: normal;
    color: #000;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    & > a {
      display: block;
      color: currentColor;
      text-decoration: none;
    }
  }

  &__cta-text {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  &__cta-form {
    display: flex;
    align-items: center;
  }

  &__cta-input {
    width: 80%;
    padding: 0.9rem;
    border-radius: 2px;
    border: 0.1rem solid $color-primary;
    margin-right: -0.5rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.1rem solid $color-primary;
    }
  }
  &__cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $color-primary;
    color: #fff;
    text-transform: uppercase;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-color: $color-primary-dark;
    }
  }

  // &__social-icon {
  //   transition: all 0.2s;
  //   &:hover,
  //   &:active {
  //     stroke: $color-primary-dark;
  //   }
  // }
}
